/* Reset */
* {
    margin: 0px;
    padding: 0px;
}

/* Classes globais */
h1 {
    font-family: monospace;
    font-size: 1.6em;
    color: red;
    font-weight: bold;
    width: 100%;
    height: 80px;
    text-align: left;
    box-sizing: border-box;
    padding-top: 20px;
    margin-bottom: 10px;
}

p {
    font-family: Verdana;
    font-size: 1.3em;
    line-height: 1.5;
    width: 100%;
    min-height: 10px;
    height: auto;
    padding: 10px;
}

.heightAuto {
    min-height: 100px;
    height: auto;
    overflow: hidden;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#empresa, #servicos, #localizacao {
    width: 95%;
    box-sizing: border-box;
    padding-bottom: 10px;
}

/* Dispositivos: Desktop min 1300px */
@media screen and (min-device-width:1300px){

    /* Header */
    .containerCenter {
        width: 1300px;
        height: inherit;
    }

    header {
        width: 100%;
        height: 100px;
        background-color: #000000;
    }

    #logo {
        width: 100px;
        height: inherit;
        background-color: khaki;
        float: left;
        margin-right: 10px;
    }

    #containerMenu {
        width: 800px;
        height: inherit;
        float: left;
    }

    #menu {
        width: inherit;
        height: inherit;
    }

    #menu li {
        list-style: none;
        width: 120px;
        height: inherit;
        float: left;
        font-family: sans-serif;
        font-size: 1.4em;
        text-align: center;
        box-sizing: border-box;
        padding-top: 20px;
        color: #ffffff;
    }

    #menu li:hover {
        background-color: khaki;
        cursor: pointer;
        color: #000000;
    }

    #containerMenuMobile {
        display: none;
    }

    /* Conteúdo */
    #content {
        width: 1300px;
    }

    /* Empresa */
    .conteudoEmpresa {
        width: 250px;
        height: 300px;
        float: left;
        margin-right: 20px;
        box-sizing: border-box;
        padding: 10px;
        background-color: khaki;
    }

    /* Serviços */
    #servicoTexto {
        width: 800px;
        box-sizing: border-box;
        padding: 10px;
        float: left;
        margin-right: 50px;
        background-color: khaki;
    }

    #servicoImagem {
        width: 300px;
        height: 300px;
        box-sizing: border-box;
        padding: 10px;
        float: left;
        background-color: khaki;
    }

    /* Localização */
    #localizacaoTextoLeft, #localizacaoTextoRight {
        width: 400px;
        box-sizing: border-box;
        padding: 10px;
        float: left;
        margin-right: 15px;
        background-color: khaki;
    }

    #localizacaoImagem {
        width: 300px;
        height: 300px;
        box-sizing: border-box;
        padding: 10px;
        float: left;
        margin-right: 15px;
        background-color: khaki;
    }

    #localizacaoTextoRight {
        width: 500px;
        margin-right: 0px;
    }

    /* Footer */
    footer {
        width: 100%;
        height: 50px;
    }
}

/* Dispositivos: Mobile */
@media screen and (max-device-width:780px){
    h1 {
        text-align: center;
    }

    /* Header */
    .containerCenter {
        width: 100%;
        height: inherit;
    }

    header {
        width: 100%;
        height: 100px;
        background-color: #000000;
        position: fixed;
    }

    #logo {
        width: 100px;
        height: inherit;
        background-color: khaki;
        margin-left: auto;
        margin-right: auto;
    }

    /* Desabilita o menu versão desktop */
    #containerMenu {
        display: none;
    }

    #containerMenuMobile{
        width: 100px;
        height: inherit;
        position: fixed;
    }

    #iconeMenuMobile {
        width: 80px;
        height: 80px;
        margin-top: 10px;
        margin-left: 10px;
        background-image: url(../imagens/menu_branco.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #menuMobile {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 999;
        display: none;
    }

    .menuItemMobile {
        width: 100%;
        height: 50px;
        background-color: purple;
    }

    /* Conteúdo */
    #content {
        width: auto;
        box-sizing: border-box;
        padding-top: 100px;
    }

    /* Empresa */
    .conteudoEmpresa {
        width: 250px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        box-sizing: border-box;
        padding: 10px;
        background-color: khaki;
    }

    /* Serviços */
    #servicoTexto {
        width: 90%;
        box-sizing: border-box;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        background-color: khaki;
    }

    #servicoImagem {
        width: 300px;
        height: 300px;
        box-sizing: border-box;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        background-color: khaki;
    }

    /* Localização */
    #localizacaoTextoLeft, #localizacaoTextoRight {
        width: 90%;
        box-sizing: border-box;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        background-color: khaki;
    }

    #localizacaoImagem {
        width: 300px;
        height: 300px;
        box-sizing: border-box;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        background-color: khaki;
    }

    #localizacaoTextoRight {
        width: 90%;
    }

    /* Footer */
    footer {
        width: 100%;
        height: 50px;
        background-color: black;
    }
}